<%- include includes/header %>
<body>
  <div class="container">
    <div class="page-header text-center">
      <div class="col-md-8 col-md-offset-2">
        <br><br><br>
        <h1><strong>MATHBOOST!</strong></h1>
        <h2 class="text-success">Connect to a CUNY <br> tutor instantly</h2>
        <br><br>
        <a href="/search" class="btn btn-success btn-lg">Search for Tutors</a>
      </div>
    </div>
  </div>
</body>
