<!DOCTYPE html>

<%- include includes/header %>

  <div class="container bump-me">


    <div class="body-content">


          <div class="panel panel-default">
            <div class="panel-heading">Play an archive</div>
            <div class="panel-body">
              <p>
                Click Through Past Archives
              </p>
            </div>
            <div class="panel-footer">
              <a class="btn btn-success" href="history">Past Archives</a>
            </div>
          </div>
		  
		  <div class="panel panel-default">
            <div class="panel-heading">List of Tutors</div>
            <div class="panel-body">
              <p>
                Click Through List of Tutors
              </p>
            </div>
            <div class="panel-footer">
              <a class="btn btn-success" href="tutors">Tutors</a>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>

<%- include includes/footer %>
</html>